h1.mb-4
  = t('.heading')
hr

= link_to t('.add_spending'), new_spending_path, class: 'btn btn-primary'

= render partial: "search_form", locals: { q: @q }

h4.mt-4 #{t('.total_amount')}: #{@total_amount}
hr

.row.row-cols-1.row-cols-md-2.g-4
  = render @spendings
